@{
    Layout = "~/views/shared/_AdminContentLayout.cshtml";
    ViewBag.Title = "查看分类";
}
<script>
    function newtab(id,title,url) {
        window.parent.addTabs({ id: id, title: title,url:url, close: true });
    }
</script>

<table class="tblist table table-hover">
    <tr class="trhead" style="">
        <th>ID</th>
        <th>名称</th>
        <th>上一级</th>
        <th>是否有效</th>
        <th>url</th>
        <th>排序</th>
        <th></th>
    </tr>
    @{
        List<HJN.InfoPub.Entity.admin_menu> list = ViewBag.list as List<HJN.InfoPub.Entity.admin_menu>;
        if (list == null) { list = new List<HJN.InfoPub.Entity.admin_menu>(); }
        foreach (var item in list)
        {
            <tr>
                <td>@item.idx</td>
                <td>@item.name</td>
                <td>@item.parentidx</td>
                <td>@(item.isdelete == 0 ? "Y" : "<span style='color:red'>N</span>")</td>
                <td>@item.url</td>
                <td>@item.disorder</td>
                <td>
                    <a href="javascript:void(0)" data-aid="@item.idx" class="adel">删除</a> &nbsp;
                    <a href="javascript:newtab('@(item.idx+"_edit_cat")','编辑分类 @item.name','/AdmMenu/MenuEdit?idx=@item.idx')">编辑</a>
                </td>
            </tr>
        }
    }
</table>
<script>
    $(function () {
        $(".adel").click(function () {
            if (confirm('确认删除')) {
                alert(111);
            }
        });
    });
</script>
